// Header ///////////////////////////////////////
.site-header {
	
}
// Name & Logo //////////////////////////////////
.site-branding {

}
.site-title {

}
// Main Navigation Items /////////////////////////////
.main-navigation {
	position: relative;
	.nav-menu {
		
	}
	.page_item {
		
	}
}
.menu-toggle {
	padding: 0 1em .5em 0;
	font-size: 1.25em;
	font-weight: 700;
	color: $background-color;
	text-shadow: 3px 1px 0px darken($accent-color,20%);
	text-align: right;
	&:before {
		content: "\2630";
		padding: 0 .5em 0 .5em;
	}
}
.toggled .nav-menu {
	padding-bottom: 1em;
}